@font-face {
    font-family: 'Supertea';
    src: url('fonts/Supertea.woff2') format('woff2'),
        url('fonts/Supertea.woff') format('woff'),
        url('fonts/Supertea.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KG Miss Kindy Marker';
    src: url('fonts/KGMissKindyMarker.woff2') format('woff2'),
        url('fonts/KGMissKindyMarker.woff') format('woff'),
        url('fonts/KGMissKindyMarker.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KG Miss Kindy Chunky';
    src: url('fonts/KGMissKindyChunky.woff2') format('woff2'),
        url('fonts/KGMissKindyChunky.woff') format('woff'),
        url('fonts/KGMissKindyChunky.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KG Miss Kindy Bubble';
    src: url('fonts/KGMissKindyBubble.woff2') format('woff2'),
        url('fonts/KGMissKindyBubble.woff') format('woff'),
        url('fonts/KGMissKindyBubble.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

