@import "fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: "Supertea";
  background: #fff;
  color: #000;
}

.titre {
  font-size: 30px;
}

.sous-titre {
  font-size: 20px;
}

.flex {
  display: flex;

  &.col {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.v-center {
    align-items: center;
  }
}

.v-toolbar {
  background-color: #8e76ae !important;
  color: #fff !important;

  #logo {
    max-height: 55px;
    width: auto;
  }

  a {
    height: 100%;
    color: #fff;
  }
}

.temoignage-container {
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.temoignage {
  flex: 2 1 auto;

  .photo {
    width: 175px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #8e76ae;
  }

  .prenom {
    color: #000;

    font-family: Supertea;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .accroche {
    color: #000;

    font-family: Spline Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .decla {
    border-radius: 20px;
    border: 6px solid #8e76ae;

    background: #fff;
    color: #000;
    width: 90%;
    height: 200px;
    box-shadow: 10px 13px 42px -6px rgba(26, 26, 26, 0.25);
    justify-content: space-around;
    margin: 5px;
  }
  .texte-temoignage {
    font-family: "Spline Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

#figures {
  width: 100%;
  height: auto;
}

.illustration {
  width: 30%;
  margin: 10px;
}

#slogan {
  font-size: 34px;
}

.btn-inscription {
  background-color: #8e76ae;
  color: #fff;
}

#lien-inscription {
  text-decoration: none;
}
